.flex-container {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
  padding: 20px; 
}

.flex-item {
  display: flex;
  flex: 1;
  gap: 100px;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border: 1px solid black; 
}


  .Before-Journal-Container {
    background-color: rgb(178, 235, 248);
    width: 500px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: rgb(222, 221, 221);
    border: 0.5px solid;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
  }

  .Before-Journal-Container input[type="text"],
  .Before-Journal-Container textarea {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    font-size: 16px; 
    border-radius: 10px;
    border: 1px solid black; 
  }
  
  .Before-Journal-Container textarea {
    height: 240px;
  }
  
  .Return-Journal-Container {
    background-color: #fcd0fc;
    width: 500px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: rgb(222, 221, 221);
    border: 0.5px solid;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
  }
  
  .Return-Journal-Container input[type="text"],
  .Return-Journal-Container textarea {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    font-size: 16px; 
    border-radius: 10px;
    border: 1px solid black; 
  }
  
  .Return-Journal-Container textarea {
    height: 240px;
  }
  
  .Connect-Journal-Container {
    background-color: rgb(178, 235, 248);
    width: 500px;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    border-color: rgb(222, 221, 221);
    border: 0.5px solid;
    margin-top: 10px; 
    display: flex;
    flex-direction: column;
  }

  .Connect-Journal-Container input[type="text"],
  .Connect-Journal-Container textarea {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    font-size: 16px; 
    border-radius: 10px;
    border: 1px solid black; 
  }

  label {
    font-size: 20px;
  }

  #button {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    font-size: 18px; 
    border-radius: 10px;
    border: 1px solid black; 
  }

  .Before-Journal-Container #button:hover {
    background-color: #0bcaf1;
  }

  .Return-Journal-Container #button:hover {
    background-color: #eeb4e8;
  }

  .Connect-Journal-Container #button:hover {
    background-color: #0bcaf1;
  }

  .entries-list {
    width: 100%; 
    padding: 10px;
    box-sizing: border-box; 
    font-size: 18px; 
    border-radius: 10px;
  }

  h3 {
    margin-top: 5px;
    margin-bottom: 10px;
  }